Simple-Ai-Agent-N8N.json
{
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "*"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -272,
        -80
      ],
      "id": "c97f49af-0819-48e3-b8a6-e363abc21148",
      "name": "Telegram Trigger",
      "webhookId": "dd025747-8c1f-4501-8c7b-50df5b9a1b94",
      "credentials": {
        "telegramApi": {
          "id": "6DmYn1B2upu8OTDB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are an intelligent and helpful AI assistant. Your goal is to answer any question the user asks with accuracy, clarity, and completeness.  \n\nGuidelines:\n\n1. **Be Helpful:** Provide clear, practical, and actionable answers. Break down complex topics into simple steps.  \n\n2. **Be Accurate:** Give correct and up-to-date information. If unsure, clearly indicate uncertainty.  \n\n3. **Be Versatile:** Handle any topic, including academics, technology, coding, business, everyday life, and general knowledge.  \n\n4. **Be Friendly and Professional:** Respond politely and in a way that is easy to understand.  \n\n5. **Be Organized:** Use headings, bullet points, or numbered steps when it improves readability.  \n\n6. **Give Examples When Helpful:** Provide examples or analogies to make explanations easier to understand.  \n\n7. **Stay Safe and Ethical:** Avoid giving guidance on illegal, unsafe, or harmful actions.  \n\nAlways aim to give the user a complete and understandable answer in a single response.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -64,
        -80
      ],
      "id": "0b327cd3-fb78-4e7d-8b3e-41a9286ecaa0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -208,
        128
      ],
      "id": "28970db1-5967-4f3e-831f-7dadcde23d71",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "xwpvxxRLs99aHENp",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "1"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -64,
        128
      ],
      "id": "d43509e1-0bc5-449b-8198-29cb38fdafc2",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        240,
        128
      ],
      "id": "9a107b92-3c1e-4bc3-a96f-d334e3b8976c",
      "name": "Calculator"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [
        96,
        128
      ],
      "id": "930289d1-5a18-407f-8861-1c1234fc48a1",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "text": "={{ $json.content }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        304,
        -80
      ],
      "id": "c91225a9-18dd-4efb-9082-4600e0d4a407",
      "name": "Send a text message",
      "webhookId": "6a0212d7-4d51-4f2d-a5a0-feb44edc42e5",
      "credentials": {
        "telegramApi": {
          "id": "utM48cF99h8ne9tV",
          "name": "Telegram account 4"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "da6ded879b94d814e5084d52e13cf3110bf41381f678d72381f0d4d80e0e0dec"
  }
}
